<div th:fragment="footer">
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img th:src="@{/templates/images/home/under.png}" class="img-responsive inline" alt="">
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Qys 2018. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->
    <script type="text/javascript" th:src="@{/templates/js/vue/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/templates/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/templates/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/templates/js/lightbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/templates/js/wow.min.js}"></script>
    <script type="text/javascript" th:src="@{/templates/js/main.js}"></script>
</div>