<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>现金账</title>
<head>
    <link th:href="@{/templates/css/custom/cashLedger.css}" rel="stylesheet">
</head>
<body>
<div>
    <table>
        <thead>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </tfoot>
    </table>
    </div>
<script  th:src="@{/templates/js/web/custom/cashLedger.js}"></script>
</body>
</html>
