<div th:fragment="comments" class="response-area" id="Comments">
    <h2 class="bold">Comments</h2>
    <ul class="media-list">


        <li v-for="reply in replies" class="media">
            <div class="post-comment">
                <a class="pull-left" href="#">
                    <img width="80" height="80"  :src="reply.user.imgPath=='null' ? '/templates/images/blogdetails/1.png':reply.user.imgPath" >
                </a>
                <div class="media-body">
                    <span><i class="fa fa-user"></i>
                        用户名 <a href="#">{{reply.author}}</a></span>
                    <p>{{reply.content}} </p>
                    <ul class="nav navbar-nav post-nav">
                        <li><a href="#"><i class="fa fa-clock-o"></i>{{reply.date}}</a></li>
                        <li><a href="#"><i class="fa fa-reply"></i>回复</a></li>
                    </ul>
                </div>
            </div>
            <!-- childList -->

            <!--{{reply.lzlReply}}-->
            <div class="parrent">
                <ul class="media-list">
                    <template v-for="re in reply.lzlReply">
                        <li class="post-comment reply">
                            <!--<a class="pull-left" href="#">-->
                                <!--<img width="52" height="52" class="media-object"-->
                                     <!--th:src="re.user.imgPath" alt="">-->
                            <!--</a>-->
                            <div class="media-body">
                                <span><i class="fa fa-user"></i>用户名<a href="#">{{re.user.username}}</a></span>
                                <p>{{re.content}}</p>
                                <ul v-if="re.date!=null" class="nav navbar-nav post-nav">
                                    <li ><a href="#"><i class="fa fa-clock-o"></i>{{re.date}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </li>

    </ul>
</div><!--/Response-area-->
<div th:replace="common/article/page::replyPage"></div>
<script class="custJs" th:src="@{/templates/js/web/comments.js}"></script>
<script class="custJs" type="text/javascript" th:src="@{/templates/js/web/common.js}"></script>
<!--<div th:replace="common/footer::footer(~{::script.custJs})"></div>-->